body {
margin:0;
font-family:Tahom,a;
background:#f4f6f8;
text-align:center;
}

.container {padding:20px;}
.logo {width:150px;}
button {
padding:12px 30px;
font-size:18px;
border:none;
background:#0d6efd;
color:white;
border-radius:8px;
margin-top:15px;
}
.wheel-container {position:relative; margin:20px auto;}
.pointer {
position:absolute;
top:-10px;
left:50%;
transform:translateX(-50%);
color:red;
font-size:24px;
}
canvas {max-width:100%;}
